//- INDEX LANDING PAGES
//- start variable
- var pageActive = ''
- var baseURL = ''
- var contentDescription = {}
- contentDescription.title = "Prakerja x Alibaba Cloud Academy - prakerja.go.id"
- contentDescription.description = "Prakerja X Alibaba Cloud Academy memberikan pelatihan dan sertifikasi gratis untuk peserta Prakerja dalam Big Data dan Cloud Computing, berlangsung Agustus-Oktober 2024."
- contentDescription.ogImage = "https://raw.githubusercontent.com/Kartu-Prakerja/alibaba-cloud-academy/main/img/prakerja-x-alibaba-cloud-academy.png"

doctype html
html(lang="id" page-class="home")
    include pug/includes/html_head.pug
    body
        include pug/includes/analytics_no_script.pug
        include pug/includes/navigation.pug
        main
            //- section hero
            include pug/home/section_hero.pug

            //- section about
            include pug/home/section_about.pug

            //- section instructor
            include pug/home/section_instructors.pug

            //- section program
            include pug/home/section_program.pug

            //- section Beyond the Basic
            include pug/home/section_btb.pug

            //- section timeline
            include pug/home/section_timeline.pug

            //- section target peserta
            include pug/home/section_target.pug

            //- section target peserta
            include pug/home/section_join_form.pug

            //- section news
            include pug/home/section_news.pug

           
        include pug/includes/modal.pug
        include pug/includes/footer.pug
    include pug/includes/html_foot.pug