<!-- Modal User Login -->
#enrollSuccess.modal.fade(tabindex='-1' aria-labelledby='enrollSuccess' aria-hidden='true')
  .modal-dialog.modal-dialog-centered.pds-modal
    .modal-content.bg-accent
      .modal-header.modal-header-custom
        //- content Header
        <svg width="438" height="98" viewBox="0 0 438 98" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="ps-path" d="M1 57.4271C38.0084 26.1352 74.8341 3.97292 137.89 7.19C200.946 10.4071 240.018 67.8208 307.116 67.8208C365.591 67.8208 386.233 53.4209 437 20.3061" stroke="url(#paint0_linear_332_2557)" stroke-dasharray="1.98 1.98"/>
          <path d="M397.581 47.5471C398.06 47.0371 398.189 46.2905 397.909 45.649C397.63 45.0074 396.994 44.5945 396.294 44.5991L341.467 44.962L341.461 44.962L339.76 44.9733C339.103 44.9776 338.504 45.349 338.209 45.9352C337.913 46.5214 337.971 47.2237 338.358 47.7541L339.359 49.1268L339.363 49.1332L351.572 65.8717L353.558 76.0387C354.618 80.7419 355.896 77.4841 356.535 75.8553C359.712 67.759 368.85 63.7707 376.947 66.9472C377.527 67.1748 378.086 67.433 378.622 67.7192L397.581 47.5471ZM389.193 51.3622L355.201 66.197L354.932 64.8194C354.883 64.5681 354.78 64.3306 354.629 64.1237L353.802 62.9896L387.793 48.155L392.235 48.1256L389.193 51.3622Z" fill="url(#paint1_linear_332_2557)"/>
          <path d="M382.597 86.0804C380.126 92.3776 373.019 95.4796 366.721 93.0089C360.424 90.5383 357.322 83.4306 359.793 77.1334C362.264 70.8363 369.371 67.7343 375.668 70.2049C381.966 72.6756 385.068 79.7833 382.597 86.0804ZM378.251 78.0645C377.661 77.299 376.562 77.1566 375.797 77.7464L369.49 82.6057L368.407 80.1238C368.02 79.2381 366.989 78.8335 366.103 79.22C365.218 79.6066 364.813 80.6379 365.2 81.5236L366.731 85.0325C367.414 86.5974 369.386 87.1038 370.738 86.0617L377.933 80.5185C378.698 79.9287 378.841 78.83 378.251 78.0645Z" fill="url(#paint2_linear_332_2557)"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M245.862 53.5631C246.347 53.6067 246.811 53.3571 247.042 52.9286C247.273 52.5001 247.227 51.9752 246.924 51.5941L222.464 20.811C222.18 20.4535 221.72 20.2851 221.272 20.3748C220.824 20.4646 220.465 20.7973 220.34 21.2366L220.021 22.3637C220.02 22.3688 220.018 22.3739 220.017 22.379L216.093 36.2426L205.891 48.0376C205.592 48.3829 205.512 48.8663 205.683 49.2896C205.854 49.7129 206.247 50.0048 206.702 50.0457L207.857 50.1494C207.866 50.1504 207.875 50.1512 207.884 50.152L245.862 53.5631ZM240.175 50.6088L243.252 50.8851L241.33 48.4664L218.627 36.2262L218.361 37.1656C218.313 37.3369 218.227 37.4956 218.111 37.6303L217.472 38.3685L240.175 50.6088Z" fill="url(#paint3_linear_332_2557)"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M102.212 7.78008C102.595 7.47906 102.761 6.97903 102.635 6.50884C102.509 6.03865 102.115 5.68878 101.633 5.61936L62.7173 0.0124654C62.2654 -0.0526401 61.8151 0.140669 61.551 0.513111C61.287 0.885551 61.2536 1.37445 61.4647 1.77931L62.0061 2.81807C62.0085 2.82279 62.0109 2.82751 62.0134 2.83223L68.6728 15.609L69.3452 31.1899C69.3649 31.6461 69.6382 32.0528 70.0531 32.2433C70.468 32.4338 70.9546 32.3761 71.3134 32.0938L72.225 31.3765C72.2322 31.371 72.2393 31.3655 72.2464 31.3599L102.212 7.78008ZM96.0484 9.53341L98.4759 7.6233L95.4181 7.18274L70.5047 13.8583L70.9559 14.724C71.0382 14.8819 71.0849 15.056 71.0926 15.2339L71.1347 16.209L96.0484 9.53341Z" fill="url(#paint4_linear_332_2557)"/>
          <defs>
          <linearGradient id="paint0_linear_332_2557" x1="1" y1="19.0116" x2="436.939" y2="12.0535" gradientUnits="userSpaceOnUse">
          <stop stop-color="#011148"/>
          <stop offset="0.143167" stop-color="#2791D9"/>
          <stop offset="1" stop-color="#1BC47D"/>
          </linearGradient>
          <linearGradient id="paint1_linear_332_2557" x1="346.45" y1="24.9087" x2="398.574" y2="45.359" gradientUnits="userSpaceOnUse">
          <stop stop-color="#6AD87B"/>
          <stop offset="0.333333" stop-color="#4CBE5E"/>
          <stop offset="0.666667" stop-color="#32A544"/>
          <stop offset="1" stop-color="#1D8B2F"/>
          </linearGradient>
          <linearGradient id="paint2_linear_332_2557" x1="346.45" y1="24.9087" x2="398.574" y2="45.359" gradientUnits="userSpaceOnUse">
          <stop stop-color="#6AD87B"/>
          <stop offset="0.333333" stop-color="#4CBE5E"/>
          <stop offset="0.666667" stop-color="#32A544"/>
          <stop offset="1" stop-color="#1D8B2F"/>
          </linearGradient>
          <linearGradient id="paint3_linear_332_2557" x1="205.594" y1="20.3511" x2="247.188" y2="20.3511" gradientUnits="userSpaceOnUse">
          <stop stop-color="#F2BA01"/>
          <stop offset="0.142857" stop-color="#F5B203"/>
          <stop offset="0.285714" stop-color="#F8A908"/>
          <stop offset="0.428571" stop-color="#FBA00F"/>
          <stop offset="0.571429" stop-color="#FD9817"/>
          <stop offset="0.714286" stop-color="#FE8F1E"/>
          <stop offset="0.857143" stop-color="#FF8624"/>
          <stop offset="1" stop-color="#FF7D2A"/>
          </linearGradient>
          <linearGradient id="paint4_linear_332_2557" x1="61.3269" y1="0" x2="102.677" y2="0" gradientUnits="userSpaceOnUse">
          <stop stop-color="#1D508B"/>
          <stop offset="0.142857" stop-color="#225A9C"/>
          <stop offset="0.285714" stop-color="#2765AD"/>
          <stop offset="0.428571" stop-color="#2C6FBE"/>
          <stop offset="0.571429" stop-color="#327ACE"/>
          <stop offset="0.714286" stop-color="#4585D1"/>
          <stop offset="0.857143" stop-color="#5890D4"/>
          <stop offset="1" stop-color="#6A9CD8"/>
          </linearGradient>
          </defs>
        </svg>
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body.p-4
        h5.mb-3 Terima Kasih Telah Mendaftar di Program Beasiswa Prakerja x Alibaba Cloud Academy!
        p.paragraph-sm.fs-7 
          | Kami sangat mengapresiasi antusiasme dan minat kamu untuk bergabung dengan program ini.
        p.paragraph-sm.mb-4.fs-7 
          | Saat ini, data kamu sedang dalam proses seleksi. Kami akan menghubungi peserta yang terpilih pada tanggal 
          b 23 Agustus 2024 
          | melalui email yang kamu daftarkan. Pastikan untuk selalu cek email kamu, ya!
        
        div.text-center
          button.btn.btn-primary(type='button' data-bs-dismiss='modal') Mengerti
            