section.section-timeline
    .container.py-5.px-4.px-md-0
      .row.justify-content-center
        .col-lg-10
          h4.custom-rfs-h4.text-center.mb-5(data-aos="fade-up" data-aos-once="true" data-aos-delay="50") Timeline Program
          .pds-path.default
                .path-item
                  .d-flex(data-aos="fade-up" data-aos-once="true" data-aos-delay="100")
                    i.color-orange.bi.bi-star-fill.me-2
                    div
                      h6 Pendaftaran
                      p
                        | 1-24 Agustus 2024

                .path-item
                  div(data-aos="fade-up" data-aos-once="true" data-aos-delay="150")
                    h6 Pengumuman penerimaan
                    p 26 Agustus 2024 (dikirim melalui email)

                .path-item
                  div(data-aos="fade-up" data-aos-once="true" data-aos-delay="200")
                    h6 Onboarding
                    p
                      | 27 Agustus 2024 (dilakukan secara online)

                .path-item
                  div(data-aos="fade-up" data-aos-once="true" data-aos-delay="250")
                    h6 Program Berjalan
                    p.mb-0
                      b.text-dark Self-paced learning 
                      span.text-secondary 27 Agustus - 1 September 2024
                  
                    p.mb-0
                      b.text-dark Instruction LED Training 
                      span.text-secondary 3 - 5 September 2024

                    p
                      b.text-dark Self-paced learning 
                      span.text-secondary 6 - 12 September 2024

                .path-item
                  div(data-aos="fade-up" data-aos-once="true" data-aos-delay="300")
                    h6 Ujian Sertifikasi
                    p
                      b.text-dark Ujian 
                      span.text-secondary 13, 16, 17 September 2024 
                      br
                      span.fs-7 (bisa memilih 1 dari 3 tanggal di atas)
                    
                    p
                      b.text-dark Re-take 
                      span.text-secondary 19 September 2024
                      br
                      span.fs-7 (untuk peserta yang belum lulus)
                    
                .path-item
                  div(data-aos="fade-up" data-aos-once="true" data-aos-delay="350")
                    h6 Pengumuman kelulusan sertifikasi
                    p
                      | 23 September 2024

                .path-end.text-sm-center.mt-4
                  div(data-aos="fade-up" data-aos-once="true" data-aos-delay="400")
                    h6 
                      i.color-orange.bi.bi-rocket-takeoff.me-2
                      | Kelas 
                      i Beyond the Basic
                    p.mb-0
                      b.text-dark Kelas Marketing	
                      span.text-secondary 24 September 2024 
                    p.mb-0
                      b.text-dark Kelas Business Development 
                      span.text-secondary 25 September 2024
                    p.mb-0
                      b.text-dark Kelas Solution Architect 
                      span.text-secondary 26 September 2024
                    p
                      b.text-dark Kelas TAM Session
                      span.text-secondary 27 September 2024