section.section-course
  .container.py-3.pt-lg-5.pb-lg-5.px-4.px-md-0
    .d-flex.align-items-center.justify-content-between.mb-3
        h4.custom-rfs-h4 Para Instruktur

    .col-lg-7
        .row
            .col-4.mb-4
                .card-instructor.p-3.rounded-3
                    .avatar.avatar-lg.overflow-hidden.mb-2.rounded-pill
                        img.rounded-pill.object-fit-cover(src="https://randomuser.me/api/portraits/men/32.jpg", alt="")
                    h6.m-0 Yuefeng Sun 
                    p.fs-7.m-0 Alibaba Cloud Sr. Training Advisor
            .col-4.mb-4
                .card-instructor.p-3.rounded-3
                    .avatar.avatar-lg.overflow-hidden.mb-2.rounded-pill
                        img.rounded-pill.object-fit-cover(src="https://randomuser.me/api/portraits/men/31.jpg", alt="")
                    h6.m-0 Amey Daulat Birjey 
                    p.fs-7.m-0 Instruktur untuk program ACA Big Data
            .col-4.mb-4
                .card-instructor.p-3.rounded-3
                    .avatar.avatar-lg.overflow-hidden.mb-2.rounded-pill
                        img.rounded-pill.object-fit-cover(src="https://randomuser.me/api/portraits/men/20.jpg", alt="")
                    h6.m-0 Tifi Liu 
                    p.fs-7.m-0 Instruktur untuk kelas Marketing
            .col-4.mb-4
                .card-instructor.p-3.rounded-3
                    .avatar.avatar-lg.overflow-hidden.mb-2.rounded-pill
                        img.rounded-pill.object-fit-cover(src="https://randomuser.me/api/portraits/men/26.jpg", alt="")
                    h6.m-0 Pinky Meiska 
                    p.fs-7.m-0 Instruktur untuk kelas Business Development
            .col-4.mb-4
                .card-instructor.p-3.rounded-3
                    .avatar.avatar-lg.overflow-hidden.mb-2.rounded-pill
                        img.rounded-pill.object-fit-cover(src="https://randomuser.me/api/portraits/men/46.jpg", alt="")
                    h6.m-0 Eggy T. 
                    p.fs-7.m-0 Instruktur untuk kelas Solution Architect
            .col-4.mb-4
                .card-instructor.p-3.rounded-3
                    .avatar.avatar-lg.overflow-hidden.mb-2.rounded-pill
                        img.rounded-pill.object-fit-cover(src="https://randomuser.me/api/portraits/men/13.jpg", alt="")
                    h6.m-0 Aili 
                    p.fs-7.m-0 Instruktur untuk kelas HR