section.section-course
  .container.py-3.pt-lg-5.pb-lg-5.px-4.px-md-0
    .d-flex.align-items-center.justify-content-between.mb-3
        h4.custom-rfs-h4(data-aos="fade-up" data-aos-once="true" data-aos-delay="50") Para Instruktur

    .col-lg-7
        .row
            .col-6.col-lg-4.mb-4(data-aos="fade-up" data-aos-once="true" data-aos-delay="100")
                .card-instructor.p-3.rounded-3.bg-circuit.text-center
                    .avatar.avatar-lg.overflow-hidden.mb-2.rounded-pill.ms-auto.me-auto
                        img.rounded-pill.object-fit-cover(src="img/img-yuefeng-sun.webp", alt="Yuefeng Sun")
                    h6 Yuefeng Sun 
                    p.fs-7.m-0.text-secondary Alibaba Cloud Sr. Training Advisor
            .col-6.col-lg-4.mb-4(data-aos="fade-up" data-aos-once="true" data-aos-delay="150")
                .card-instructor.p-3.rounded-3.bg-circuit.text-center
                    .avatar.avatar-lg.overflow-hidden.mb-2.rounded-pill.ms-auto.me-auto
                        img.rounded-pill.object-fit-cover(src="img/img-amey-daulat-birjey.webp", alt="Amey Daulat Birjey ")
                    h6 Amey Daulat Birjey 
                    p.fs-7.m-0.text-secondary Instruktur untuk program ACA Big Data
            .col-6.col-lg-4.mb-4(data-aos="fade-up" data-aos-once="true" data-aos-delay="200")
                .card-instructor.p-3.rounded-3.bg-circuit.text-center
                    .avatar.avatar-lg.overflow-hidden.mb-2.rounded-pill.ms-auto.me-auto
                        img.rounded-pill.object-fit-cover(src="https://randomuser.me/api/portraits/men/20.jpg", alt="")
                    h6 Tifi Liu 
                    p.fs-7.m-0.text-secondary Instruktur untuk kelas Marketing
            .col-6.col-lg-4.mb-4(data-aos="fade-up" data-aos-once="true" data-aos-delay="250")
                .card-instructor.p-3.rounded-3.bg-circuit.text-center
                    .avatar.avatar-lg.overflow-hidden.mb-2.rounded-pill.ms-auto.me-auto
                        img.rounded-pill.object-fit-cover(src="https://randomuser.me/api/portraits/men/26.jpg", alt="")
                    h6 Pinky Meiska 
                    p.fs-7.m-0.text-secondary Instruktur untuk kelas Business Development
            .col-6.col-lg-4.mb-4(data-aos="fade-up" data-aos-once="true" data-aos-delay="300")
                .card-instructor.p-3.rounded-3.bg-circuit.text-center
                    .avatar.avatar-lg.overflow-hidden.mb-2.rounded-pill.ms-auto.me-auto
                        img.rounded-pill.object-fit-cover(src="img/img-eggy-t.webp", alt="Eggy T.")
                    h6 Eggy T. 
                    p.fs-7.m-0.text-secondary Instruktur untuk kelas Solution Architect
            .col-6.col-lg-4.mb-4(data-aos="fade-up" data-aos-once="true" data-aos-delay="350")
                .card-instructor.p-3.rounded-3.bg-circuit.text-center
                    .avatar.avatar-lg.overflow-hidden.mb-2.rounded-pill.ms-auto.me-auto
                        img.rounded-pill.object-fit-cover(src="https://randomuser.me/api/portraits/men/13.jpg", alt="")
                    h6 Aili 
                    p.fs-7.m-0.text-secondary Instruktur untuk kelas HR