section.section-program
  .container.py-3.pt-lg-5.pb-lg-5.px-4.px-md-0
    .d-flex.align-items-center.justify-content-between.mb-3
      h4.custom-rfs-h4
        | Kelas 
        i Beyond the Basics

      p 
        | Beyond the Basics adalah kelas eksklusif Prakerja yang memberikan soft skill tambahan dengan tujuan untuk semakin mempersiapkan peserta terjun ke dunia kerja. 
        | Kelas-kelas ini hanya diberikan bagi peserta program yang lulus ujian sertifikasi.

    .row
      .col-lg-3 
        span.badge KELAS 
        h6 Marketing 
        ul 
          li 
            i.bi.bi-arrow-right 
            | Ilmu pemasaran
          li 
            i.bi.bi-arrow-right 
            | Strategi pemasaran
          li 
            i.bi.bi-arrow-right 
            | Kehidupan sebagai manager pemasaran

      