section.section-program
  .container.py-3.pt-lg-5.pb-lg-5.px-4.px-md-0
    .d-flex.align-items-center.justify-content-between.mb-3
        h4.custom-rfs-h4 Perkuat Talenta Digital Indonesia: Prakerja dan Alibaba Cloud Luncurkan Program Pelatihan Gratis