section.section-forms.adjust-anchor#JoinNow
  .container.py-3.pt-lg-5.pb-lg-5.px-4.px-md-0
    .d-flex.align-items-center.justify-content-center.mb-3
      .col-12.col-lg-8 
        .box-forms.rounded-4.p-4(data-aos="fade-up" data-aos-once="true" data-aos-delay="50")
          h4.custom-rfs-h4 Gabung Program
          p 
            | Pastikan email yang kamu gunakan sudah terdaftar di 
            a(href="https://dashboard.prakerja.go.id?utm_source=prakerja_x_alibaba_landing&utm_campaign=alibaba_cloud_program&utm_content=link_prakerja" title="Dashboard Prakerja" target="_blank") Prakerja 
            | dan 
            a(href="https://edu.alibabacloud.com/elearning?spm=a3c0i.14527127.4363105600.7.7a716d842fAisq#J_4222514620" title="Alibaba Cloud Academy" target="_blank") Alibaba Cloud Academy. 
          form#form-join-program.row.mt-4.needs-validation(novalidate) 
            .col-lg-6
              .mb-3
                label.form-label(for='NamaLengkap') Nama Lengkap
                input#NamaLengkap.form-control(type='text' placeholder='Andi Soraya' required)
                .invalid-feedback
                  | Masukan Nama Lengkap 
            .col-lg-6
              .mb-3
                label.form-label(for='EmailAddress') Alamat Email yang Terdaftar di Prakerja & Alibaba
                input#EmailAddress.form-control(type='email' placeholder='name@example.com' required)
                .invalid-feedback
                  | Masukan email terdaftar di Prakerja dan Alibaba Cloud Kamu
            .col-lg-6
              .mb-3
                label.form-label(for='IDAlibaba') 
                  | ID Alibaba Cloud 
                i.bi.bi-info-circle-fill.text-info.ms-2(data-bs-toggle='tooltip' data-bs-placement='right' data-bs-custom-class='custom-tooltip' data-bs-title='Untuk mendapatkan ID Alibaba Cloud, daftarkan Individual Account di alibabacloud.com menggunakan email yang sama dengan akun Prakerja. ID Alibaba Cloud bisa ditemukan di halaman Account Management.')

                input#IDAlibaba.form-control(type='text' placeholder='Masukkan 16 digit ID Alibaba' required oninvalid="this.setCustomValidity('Masukan ID Alibaba Cloud Kamu')" oninput="this.setCustomValidity('')")
                .invalid-feedback
                  | Masukan ID Alibaba Cloud Kamu
            .col-lg-6
              .mb-3
                label.form-label(for='CourseCat') Kategori Pelatihan
                select#CourseCat.form-select(aria-label='Default select example' placeholder="Pilih")
                  option(selected='') Pilih
                  option(value='Cloud Computing') Cloud Computing
                  option(value='Big Data') Big Data

            .col-lg-6
              .mb-3
                label.form-label(for='Background') Status Pekerjaan
                select#Background.form-select(aria-label='Default select example' placeholder="Pilih")
                  option(selected='') Pilih
                  option(value='Mahasiswa Universitas') Mahasiswa Universitas
                  option(value='Dosen atau Staff Pengajar') Dosen atau Staff Pengajar
                  option(value='Karyawan Perusahaan IT') Karyawan Perusahaan IT
                  option(value='Karyawan Perusahaan Startup') Karyawan Perusahaan Startup
                  option(value='Karyawan Perusahaan Non-IT') Karyawan Perusahaan Non-IT
                  option(value='Pengusaha atau Pemilik UMKM') Pengusaha atau Pemilik UMKM
                  option(value='Freelancer di Bidang IT') Freelancer di Bidang IT
                  option(value='Fresh Graduate') Fresh Graduate
                  option(value='Lainnya') Lainnya

            .col-lg-6
              .mb-3
                label.form-label(for='Reference') Darimana Kamu Tahu Program Ini
                select#Reference.form-select(aria-label='Default select example' placeholder="Pilih")
                  option(selected='') Pilih
                  option(value='Media Sosial (Instagram, Facebook, Twitter, LinkedIn)') Media Sosial (Instagram, Facebook, Twitter, LinkedIn)
                  option(value='Email dari Prakerja') Email dari Prakerja
                  option(value='Teman atau Kolega') Teman atau Kolega
                  option(value='Webinar atau Seminar') Webinar atau Seminar
                  option(value='Kampus') Kampus
                  option(value='WA komunitas Prakerja') WA komunitas Prakerja
                  option(value='Komunitas') Komunitas
                  option(value='Lainnya') Lainnya
                  
            .col-lg-12
              .mb-3
                label.form-label(for='ReasontoJoin') Alasan Ikut Beasiswa
                select#ReasontoJoin.form-select(aria-label='Default select example' placeholder="Pilih")
                  option(selected='') Pilih
                  option(value='Untuk meningkatkan keterampilan di bidang Cloud Computing atau Big Data') Untuk meningkatkan keterampilan di bidang Cloud Computing atau Big Data
                  option(value='Mendapatkan sertifikasi ACA dari Alibaba Cloud Academy') Mendapatkan sertifikasi ACA dari Alibaba Cloud Academy
                  option(value='Mencari peluang untuk kolaborasi dan inovasi di bidang cloud computing atau Big Data') Mencari peluang untuk kolaborasi dan inovasi di bidang cloud computing atau Big Data
                  option(value='Menambah nilai tambah dalam CV dan prospek karir') Menambah nilai tambah dalam CV dan prospek karir
                  option(value='Untuk mengembangkan jaringan profesional di bidang teknologi') Untuk mengembangkan jaringan profesional di bidang teknologi
                  option(value='Untuk berpartisipasi dalam program bergengsi dan diakui internasional') Untuk berpartisipasi dalam program bergengsi dan diakui internasional
                  option(value='Ingin berkontribusi dalam pengembangan teknologi di Indonesia') Ingin berkontribusi dalam pengembangan teknologi di Indonesia
                  option(value='Alasan pribadi lainnya') Alasan pribadi lainnya

            .col-lg-12
              .mb-3 
                //- .form-check.mb-3
                //-   input#userConsent.form-check-input(type='checkbox' value='')
                //-   label.form-check-label(for='userConsent')
                //-     | Dengan mendaftar, saya setuju dengan 
                //-     a(href="#") syarat dan ketentuan
                //-     |  program ini.

                button#submit-form.btn.btn-orange
                  | Gabung Program 
                  i.bi.bi-arrow-right 

                //- button.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#enrollSuccess')
                //-   | Launch demo modal

