section.section-forms.adjust-anchor#JoinNow
  .container.py-3.pt-lg-5.pb-lg-5.px-4.px-md-0
    .d-flex.align-items-center.justify-content-center.mb-3
      .col-12.col-lg-8 
        .box-forms.rounded-4.p-4(data-aos="fade-up" data-aos-once="true" data-aos-delay="50")
          h4.custom-rfs-h4 Gabung Program
          p 
            | Pastikan yang email kamu gunakan sudah terdaftar di Prakerja dan 
            a(href="#") Alibaba Cloud Academy.
          .row.mt-4 
            .col-lg-6
              .mb-3
                label.form-label(for='NamaLengkap') Nama Lengkap
                input#NamaLengkap.form-control(type='text' placeholder='')
                
            .col-lg-6
              .mb-3
                label.form-label(for='EmailAddress') Alamat Email yang terdaftar di Prakerja & Alibaba
                input#EmailAddress.form-control(type='email' placeholder='name@example.com')
            
            .col-lg-6
              .mb-3
                label.form-label(for='IDAlibaba') ID Alibaba Cloud
                input#IDAlibaba.form-control(type='text' placeholder='')
                
            .col-lg-6
              .mb-3
                label.form-label(for='CourseCat') Kategori Pelatihan
                select#CourseCat.form-select(aria-label='Default select example')
                  option(selected='') Pilih
                  option(value='1') Cloud Computing
                  option(value='2') Big Data

            .col-lg-6
              .mb-3
                label.form-label(for='Background') Latar Belakang
                select#Background.form-select(aria-label='Default select example')
                  option(selected='') Pilih
                  option(value='1') Mahasiswa Universitas
                  option(value='2') Dosen atau Staff Pengajar
                  option(value='3') Karyawan Perusahaan IT
                  option(value='4') Karyawan Perusahaan Startup
                  option(value='5') Karyawan Perusahaan Non-IT
                  option(value='6') Pengusaha atau Pemilik UMKM
                  option(value='7') Freelancer di Bidang IT
                  option(value='8') Fresh Graduate
                  option(value='9') Lainnya

            .col-lg-6
              .mb-3
                label.form-label(for='Reference') Darimana Kamu Tahu Program Ini
                select#Reference.form-select(aria-label='Default select example')
                  option(selected='') Pilih
                  option(value='1') Media Sosial (Instagram, Facebook, Twitter, LinkedIn)
                  option(value='2') Email dari Prakerja
                  option(value='3') Teman atau Kolega
                  option(value='4') Webinar atau Seminar
                  option(value='5') Kampus
                  option(value='6') WA komunitas Prakerja
                  option(value='7') Komunitas
                  option(value='8') Lainnya
                  
            .col-lg-12
              .mb-3
                label.form-label(for='ReasontoJoin') Alasan Ikut Beasiswa
                select#ReasontoJoin.form-select(aria-label='Default select example')
                  option(selected='') Pilih
                  option(value='1') Untuk meningkatkan keterampilan di bidang Cloud Computing atau Big Data
                  option(value='2') Mendapatkan sertifikasi ACA dari Alibaba Cloud Academy
                  option(value='3') Mencari peluang untuk kolaborasi dan inovasi di bidang cloud computing atau Big Data
                  option(value='4') Menambah nilai tambah dalam CV dan prospek karir
                  option(value='5') Untuk mengembangkan jaringan profesional di bidang teknologi
                  option(value='6') Untuk berpartisipasi dalam program bergengsi dan diakui internasional
                  option(value='7') Ingin berkontribusi dalam pengembangan teknologi di Indonesia
                  option(value='8') Alasan pribadi lainnya

            

            //- .col-lg-12
            //-   .mb-3
            //-     label.form-label(for='Motivation') Ceritakan motivasi kamu untuk bergabung di program ini agar kamu memiliki kesempatan lebih tinggi untuk lolos terpilih.
            //-     textarea#Motivation.form-control(rows='3' placeholder="Tulis motivasi kamu")
            //-     .form-text
            //-       | Minimal 200 kata.

            .col-lg-12
              .mb-3 
                .form-check.mb-3
                  input#userConsent.form-check-input(type='checkbox' value='')
                  label.form-check-label(for='userConsent')
                    | Dengan mendaftar, saya setuju dengan 
                    a(href="#") syarat dan ketentuan
                    |  program ini.

                button.btn.btn-orange
                  | Gabung Program 
                  i.bi.bi-arrow-right 

