section.section-program
  .container.py-3.pt-lg-5.pb-lg-5.px-4.px-md-0
    .d-flex.align-items-center.justify-content-between.mb-3
        h4.custom-rfs-h4 Pilihan Program

    .row 
        .col-lg-6.mb-4.mb-lg-0
            .box-cloud.p-4.rounded
                h5 Cloud Computing
                p Di program ini, peserta mempelajari hal-hal mendasar Alibaba Cloud, berikut konsep, dan produknya. Materi akan mencakup cloud computing, keamanan, jaringan, penyimpanan, dan basis data (database).
                .mb-3 
                    .d-flex.p-1
                        i.bi.bi-arrow-right 
                        span.ms-2 Service Review

                    .d-flex.p-1
                        i.bi.bi-arrow-right 
                        span.ms-2 Elastic Compute Service (ECS)

                    .d-flex.p-1
                        i.bi.bi-arrow-right 
                        span.ms-2 Virtual Private Cloud (VPC)

                    .d-flex.p-1
                        i.bi.bi-arrow-right 
                        span.ms-2 Server Load Balancer (SLB)
                    
                    .d-flex.p-1
                        i.bi.bi-arrow-right 
                        span.ms-2 Object Storage Service (OSS)

                    .d-flex.p-1
                        i.bi.bi-arrow-right 
                        span.ms-2 Relational Database Service (RDS)

                a.btn.btn-orange(href="#") Lihat Detail 

        .col-lg-6 
            .box-data.p-4.rounded
                h5 Big Data
                p Di program ini, peserta mempelajari komponen-komponen penting dari ekosistem Big Data dalam Alibaba Cloud. Materi mencakup DataWorks, MaxCompute, QuickBI, DataV, dan bagaimana teknologi-teknologi ini mendukung satu dengan yang lainnya.
                .mb-3 
                    .d-flex.p-1
                        i.bi.bi-arrow-right 
                        span.ms-2 Big Data Fundamental

                    .d-flex.p-1
                        i.bi.bi-arrow-right 
                        span.ms-2 Big Data Basic

                    .d-flex.p-1
                        i.bi.bi-arrow-right 
                        span.ms-2 DataWorks

                    .d-flex.p-1
                        i.bi.bi-arrow-right 
                        span.ms-2 Big Data Blog

                    .d-flex.p-1
                        i.bi.bi-arrow-right 
                        span.ms-2 Python Structured Data Processing

                    .d-flex.p-1
                        i.bi.bi-arrow-right 
                        span.ms-2 SQL for Beginners
                        
                a.btn.btn-orange(href="#") Lihat Detail 
    