section.section-course
  .container.position-relative
    .box-about.p-4.col-lg-4
        h5 Tentang Program Ini 
        p Program beasiswa ini adalah hasil kolaborasi Prakerja dan Alibaba Cloud Academy (ACA) untuk membangun talenta digital yang lebih berkualitas di Indonesia, terutama dalam keahlian cloud technology.
        p Terdapat 2 pilihan program, yaitu 
            b Cloud Computing 
            | dan 
            b Big Data
            | . Program pelatihan dan sertifikasi berdurasi 1 bulan.
        p Alibaba Cloud Academy sendiri adalah bagian dari Alibaba Cloud yang berfokus dalam memberikan program pelatihan dan sertifikasi teknologi Alibaba Cloud.
        img.mw-100(src="img/logo-prakerja-alibababa-academy.svg", alt="Prakerja x Alibaba Cloud Academy")