section.section-program
  .container.py-3.pt-lg-5.pb-lg-5.px-4.px-md-0
    .mb-3
      h4.custom-rfs-h4
        | Kelas 
        i Beyond the Basics

    .col-lg-6
      p 
        | Beyond the Basics adalah kelas eksklusif Prakerja yang memberikan soft skill tambahan dengan tujuan untuk semakin mempersiapkan peserta terjun ke dunia kerja. 
        | Kelas-kelas ini hanya diberikan bagi peserta program yang lulus ujian sertifikasi.

    .row.mt-5
      .col-lg-3.p-2
        .card-class.bg-blue-100.p-3.rounded-3.h-100
          span.badge.text-bg-info.rounded-pill.fs-7 KELAS 
          h6.mt-3 Marketing 
          .mb-3 
            .d-flex.p-1
                i.bi.bi-arrow-right 
                span.ms-2 Ilmu pemasaran
            .d-flex.p-1
                i.bi.bi-arrow-right 
                span.ms-2 Strategi pemasaran
            .d-flex.p-1
                i.bi.bi-arrow-right 
                span.ms-2 Kehidupan sebagai manager pemasaran

      .col-lg-3.p-2
        .card-class.bg-yellow-100.p-3.rounded-3.h-100
          span.badge.text-bg-info.rounded-pill.fs-7 KELAS 
          h6.mt-3 Business Development 
          .mb-3 
            .d-flex.p-1
                i.bi.bi-arrow-right 
                span.ms-2 
                  | Ilmu penjualan konsultatif (
                  i consultative selling
                  | )
            .d-flex.p-1
                i.bi.bi-arrow-right 
                span.ms-2
                  | Ilmu 
                  i public speaking
            .d-flex.p-1
                i.bi.bi-arrow-right 
                span.ms-2 
                  | Bagaimana menjadi penjual (
                  i sales person
                  | ) yang baik

      .col-lg-3.p-2
        .card-class.bg-topaz-100.p-3.rounded-3.h-100
          span.badge.text-bg-info.rounded-pill.fs-7 KELAS 
          h6.mt-3 Solution Architect 
          .mb-3 
            .d-flex.p-1
                i.bi.bi-arrow-right 
                span.ms-2 Kehidupan sebagai karyawan IT
            .d-flex.p-1
                i.bi.bi-arrow-right 
                span.ms-2 Tips dan trik untuk mendapatkan pekerjaan dalam bidang IT

      .col-lg-3.p-2
        .card-class.bg-orange-100.p-3.rounded-3.h-100
          span.badge.text-bg-info.rounded-pill.fs-7 KELAS 
          h6.mt-3 Human Resources 
          .mb-3 
            .d-flex.p-1
                i.bi.bi-arrow-right 
                span.ms-2 Kualifikasi kandidat
            .d-flex.p-1
                i.bi.bi-arrow-right 
                span.ms-2 Tips dan trik untuk mendapatkan pekerjaan

      