section.section-course
  .container.py-3.pt-lg-5.pb-lg-5.px-4.px-md-0
    .d-flex.align-items-center.justify-content-between.mb-3
        h4.custom-rfs-h4(data-aos="fade-up" data-aos-once="true" data-aos-delay="50") Para Instruktur

    .col-lg-7
        .row
            .col-6.col-lg-4.mb-4(data-aos="fade-up" data-aos-once="true" data-aos-delay="100")
                .card-instructor.p-3.rounded-3.bg-circuit.text-center
                    .d-flex.align-content-between.flex-wrap.h-100
                        div.w-100
                            .avatar.avatar-lg.overflow-hidden.mb-2.rounded-pill.ms-auto.me-auto
                                img.rounded-pill.object-fit-cover(src="img/img-yuefeng-sun.webp", alt="Yuefeng Sun")
                            h6 Yuefeng Sun 
                            p.fs-7.mb-2.text-secondary Alibaba Cloud Sr. Training Advisor
                        div.text-center.w-100
                            a.fs-4.mx-1(href="https://geogeo.tamu.edu/people/profiles/faculty/sunyuefeng.html" title="Yuefeng Sun Profile" target="_blank")
                                i.bi.bi-link-45deg
                            a.fs-4.mx-1(href="https://www.linkedin.com/in/yuefeng-sun-aa4358190" title="Yuefeng Sun Linkedin Profile" target="_blank")
                                i.bi.bi-linkedin 

            .col-6.col-lg-4.mb-4(data-aos="fade-up" data-aos-once="true" data-aos-delay="150")
                .card-instructor.p-3.rounded-3.bg-circuit.text-center
                    .d-flex.align-content-between.flex-wrap.h-100
                        div.w-100
                            .avatar.avatar-lg.overflow-hidden.mb-2.rounded-pill.ms-auto.me-auto
                                img.rounded-pill.object-fit-cover(src="img/img-amey-daulat-birjey.webp", alt="Amey Daulat Birjey ")
                            h6 Amey Daulat Birjey 
                            p.fs-7.m-0.text-secondary Alibaba Cloud Sr. Training Advisor

                        div.text-center.w-100
                    


            .col-6.col-lg-4.mb-4(data-aos="fade-up" data-aos-once="true" data-aos-delay="200")
                .card-instructor.p-3.rounded-3.bg-circuit.text-center
                    .d-flex.align-content-between.flex-wrap.h-100
                        div.w-100
                            .avatar.avatar-lg.overflow-hidden.mb-2.rounded-pill.ms-auto.me-auto
                                img.rounded-pill.object-fit-cover(src="img/img-tifi-liu.webp", alt="Tifi Liu")
                            h6 Tifi Liu 
                            p.fs-7.m-0.text-secondary Regional Marketing Director, Alibaba Cloud Indonesia, Japan, and Australia

                        div.text-center.w-100
                            a.fs-4.mx-1(href="https://id.linkedin.com/in/tifiliu" title="Tifi Liu Linkedin Profile" target="_blank")
                                i.bi.bi-linkedin


            .col-6.col-lg-4.mb-4(data-aos="fade-up" data-aos-once="true" data-aos-delay="250")
                .card-instructor.p-3.rounded-3.bg-circuit.text-center
                    .d-flex.align-content-between.flex-wrap.h-100
                        div.w-100
                            .avatar.avatar-lg.overflow-hidden.mb-2.rounded-pill.ms-auto.me-auto
                                img.rounded-pill.object-fit-cover(src="img/img-gatot-indrawan.webp", alt="Gatot Indrawan")
                            h6 Gatot Indrawan
                            p.fs-7.m-0.text-secondary Senior Business Development Manager, Alibaba Cloud Indonesia

                        div.text-center.w-100
                            a.fs-4.mx-1(href="https://id.linkedin.com/in/gatot-indrawan-geto" title="Gatot Indrawan Linkedin Profile" target="_blank")
                                i.bi.bi-linkedin


            .col-6.col-lg-4.mb-4(data-aos="fade-up" data-aos-once="true" data-aos-delay="300")
                .card-instructor.p-3.rounded-3.bg-circuit.text-center
                    .d-flex.align-content-between.flex-wrap.h-100
                        div.w-100
                            .avatar.avatar-lg.overflow-hidden.mb-2.rounded-pill.ms-auto.me-auto
                                img.rounded-pill.object-fit-cover(src="img/img-muhammad-rohibun.webp", alt="Muhammad Rohibun")
                            h6 Muhammad Rohibun
                            p.fs-7.m-0.text-secondary Senior Solution Architect, Alibaba Cloud Indonesia

                        div.text-center.w-100
                            a.fs-4.mx-1(href="https://www.linkedin.com/in/muhammad-rohibun-aa549530/" title="Muhammad Rohibun" target="_blank")
                                i.bi.bi-linkedin


            .col-6.col-lg-4.mb-4(data-aos="fade-up" data-aos-once="true" data-aos-delay="350")
                .card-instructor.p-3.rounded-3.bg-circuit.text-center
                    .d-flex.align-content-between.flex-wrap.h-100
                        div.w-100
                            .avatar.avatar-lg.overflow-hidden.mb-2.rounded-pill.ms-auto.me-auto
                                img.rounded-pill.object-fit-cover(src="img/img-person-placeholder.webp", alt="Aili")
                            h6 Aili 
                            p.fs-7.m-0.text-secondary Instruktur untuk kelas HR

                        div.text-center.w-100
                            //- data not available
                            
                    