// Hero start
section.section-hero.bg-accent
  .container.py-4.py-lg-5.px-4.px-md-0
    .row.d-flex.align-items-center
      
      .col-md-10.mt-3.mt-md-0
        
        span.text-secondary.prakerja-jargon(data-aos="fade-up" data-aos-delay="300" data-aos-once="true") #JADIBISA
        h1.mb-3.mb-lg-2.display-2.md-md-0
          span.me-3(data-aos="fade-up" data-aos-delay="100" data-aos-once="true") Beasiswa
          span.text-wrapper(data-aos="fade-up" data-aos-delay="150")
            span Sertifikasi
            span Gratis
            span Sertifikasi
            span Gratis
            span Sertifikasi
          br 
          span(data-aos="fade-up" data-aos-delay="200" data-aos-once="true") Alibaba Cloud Academy

        p.text-secondary.text-subhero.pe-xl-5(data-aos="fade-up" data-aos-delay="250" data-aos-once="true")
          b.text-secondary Oleh Prakerja x Alibaba Cloud

        .d-flex.flex-column.flex-lg-column-reverse

          div.mb-3.mt-0.mt-lg-4(data-aos="fade-up" data-aos-delay="450" data-aos-once="true")
            a.btn.btn-orange.btn-lg.register-account(href="#JoinNow") 
              | Gabung Sekarang 
              i.bi.bi-arrow-right
          .d-lg-inline-flex
            div.d-lg-inline-flex.p-3.rounded-3.shadow-sm.bg-transparent.gap-3(data-aos="fade-up" data-aos-delay="300" data-aos-once="true")
              .d-flex
                i.bi.bi-check2-circle.text-success.pe-2 
                div 
                  b Pelatihan dan Sertifikasi Global
                  p.fs-7.text-secondary Program 1 bulan | 6-8 jam per minggu
              .highlight-divider.mb-3.mb-lg-0
              .d-flex
                i.bi.bi-check2-circle.text-success.pe-2 
                div 
                  b Kelas dimulai 1 Sept 2024
                  p.fs-7.text-secondary Pendaftaran dibuka 1 Agustus 2024
              .highlight-divider.mb-3.mb-lg-0
              .d-flex
                i.bi.bi-check2-circle.text-success.pe-2 
                div 
                  b Kelas Bauran
                  p.fs-7.text-secondary Pembelajaran Mandiri & Webinar (100% daring)

          


        //- div.mt-4(data-aos="fade-up" data-aos-delay="350" data-aos-once="true")
        //-   .d-flex.gap-5
        //-     div
        //-       span.d-block.text-secondary.fs-7.mb-1 Event ini berlangsung
        //-       span
        //-         i.bi.bi-calendar-range.text-secondary.me-2
        //-         b Agustus - September 2024
            
            //- div
            //-   span.d-block.text-secondary.fs-7.mb-1 Belum punya akun Prakerja?
            //-   a(href="#") 
            //-     i.bi.bi-arrow-up-right-square.text-primary.me-2
            //-     b Daftar Sekarang

// Hero end

