section.section-program
  .container.py-3.pt-lg-5.pb-lg-5.px-4.px-md-0
    .d-flex.align-items-center.justify-content-between.mb-3.gap-4

        .col-lg-5
          a(href="https://www.prakerja.go.id/artikel/acara/perkuat-talenta-digital-indonesia-prakerja-dan-alibaba-cloud-luncurkan-program-pelatihan-ai-gratis" target="_blank") 
            img.w-100.rounded-3(src="https://www.prakerja.go.id/_next/image?url=https%3A%2F%2Fwordpress.prakerja.go.id%2Fmyblog%2Fwp-content%2Fuploads%2F2024%2F07%2FWebsite-Template-Image-4.webp&w=2048&q=75", alt="")
        .col-lg-7 
          span.text-secondary ARTIKEL
          h4.custom-rfs-h4 
            a.text-dark(href="https://www.prakerja.go.id/artikel/acara/perkuat-talenta-digital-indonesia-prakerja-dan-alibaba-cloud-luncurkan-program-pelatihan-ai-gratis" target="_blank") 
              | Perkuat Talenta Digital Indonesia: Prakerja dan Alibaba Cloud Luncurkan Program Pelatihan Gratis
          p 
            | Dalam upaya memperkuat ekosistem digital Indonesia dan melahirkan talenta AI lokal di Indonesia, 
            | Prakerja bermitra dengan Alibaba Cloud, meluncurkan program pelatihan talenta digital yang komprehensif. 
            | Program ini menargetkan 2.000 talenta AI lokal dalam bidang cloud computing dan big data dalam tahap pertama...

          .d-flex.gap-3.text-secondary
            span.badge.text-bg-ghost-primary.rounded-pill Acara 

            .d-flex.fs-7
              i.bi.bi-stopwatch.me-2 
              span 3 menit baca

            .d-flex.fs-7
              i.bi.bi-people.me-2 
              span Kartu Prakerja 

            .d-flex.fs-7
              i.bi.bi-clock.me-2 
              span 15 Juli 2024
            
