//- INDEX LANDING PAGES
//- start variable
- var pageActive = 'tanyajawab'
- var baseURL = '../'
- var contentDescription = {}
- contentDescription.title = "Tanya Jawab Prakerja X Alibaba Cloud Academy - prakerja.go.id"
- contentDescription.description = "Prakerja X Alibaba Cloud Academy memberikan pelatihan dan sertifikasi gratis untuk peserta Prakerja dalam Big Data dan Cloud Computing, berlangsung Agustus-Oktober 2024."
- contentDescription.ogImage = "https://raw.githubusercontent.com/Kartu-Prakerja/alibaba-cloud-academy/main/img/prakerja-x-alibaba-cloud-academy.png"

//- doctype html
<!DOCTYPE html>
html(lang="id" page-class="faq")
    include ../pug/includes/html_head.pug
    body
        include ../pug/includes/analytics_no_script.pug
        include ../pug/includes/navigation.pug
        main
           include ../pug/tanyajawab/section_tanya_jawab.pug
        //-    include ../pug/tanyajawab/section_course_category.pug
        //-    include ../pug/tanyajawab/section_terms.pug
        
        include ../pug/includes/modal.pug
        include ../pug/includes/toast.pug
        include ../pug/includes/footer.pug
    include ../pug/includes/html_foot.pug