section
    .container.py-md-5.py-5.px-4.px-md-0
        .row.justify-content-center
            .col-12.col-xl-10.mb-3.mb-lg-4
                section.py-5
                    h1.h2.text-center Tanya Jawab

                section
                    //- div.heading-sticky
                        h4 
                            a(href="#accordionTentang")  Apa itu Beasiswa Sertifikasi Alibaba Cloud Academy by Prakerja?
                
                    .accordion.pds-accordion#accordionTentang  
                            
                        .accordion-item(data-aos="fade-up" data-aos-once="true" data-aos-delay="50") 
                            h5.accordion-header 
                                button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target="#collapseA1" aria-expanded="true" aria-controls="collapseA1")
                                    span.d-flex 
                                        span 1.&nbsp;
                                        span Apa itu Beasiswa Sertifikasi Alibaba Cloud Academy by Prakerja?
                            
                            .accordion-collapse.collapse.show#collapseA1(data-bs-parent="#accordionTentang")
                                .accordion-body
                                    p
                                        | Prakerja dan Alibaba Cloud Academy bertujuan untuk memberikan dukungan dan bantuan kepada masyarakat 
                                        | Indonesia melalui program pelatihan dan sertifikasi guna meningkatkan pemahaman tentang teknologi informasi berbasis cloud. 
                                        | Melalui kolaborasi ini, kami akan mencetak developer dan programmer muda Indonesia yang bersertifikasi dalam Big Data dan Cloud Computing.
                        
                        .accordion-item(data-aos="fade-up" data-aos-once="true" data-aos-delay="100") 
                            h5.accordion-header 
                                button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseA2" aria-expanded="false" aria-controls="collapseA2")
                                    span.d-flex 
                                        span 2.&nbsp;
                                        span Apakah peserta non-alumni boleh ikut beasiswa ini?
                            
                            .accordion-collapse.collapse#collapseA2(data-bs-parent="#accordionTentang")
                                .accordion-body
                                    p Boleh, asalkan kamu sudah memiliki akun di Prakerja.

                        .accordion-item(data-aos="fade-up" data-aos-once="true" data-aos-delay="150") 
                            h5.accordion-header 
                                button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseA3" aria-expanded="false" aria-controls="collapseA3")
                                    span.d-flex 
                                        span 3.&nbsp;
                                        span Apakah semua yang mendaftar pasti akan mendapatkan beasiswa?
                            
                            .accordion-collapse.collapse#collapseA3(data-bs-parent="#accordionTentang")
                                .accordion-body
                                    p   Tidak, peserta akan dikurasi.

                        .accordion-item(data-aos="fade-up" data-aos-once="true" data-aos-delay="200")
                            h5.accordion-header 
                                button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseA4" aria-expanded="false" aria-controls="collapseA4")
                                    span.d-flex 
                                        span 4.&nbsp;
                                        span Bagaimana cara mengikuti dan terpilih di beasiswa ini?
                            
                            .accordion-collapse.collapse#collapseA4(data-bs-parent="#accordionTentang")
                                .accordion-body
                                    p  
                                        ol 
                                            li Wajib memiliki akun Prakerja.
                                            li Mengisi data di website Beasiswa Sertifikasi Alibaba Cloud Academy by Prakerja.
                                            li Membuat akun Alibaba dengan email yang sama dengan akun Prakerja.
                                            li Kamu akan dihubungi melalui email jika terpilih sebagai peserta.


                        .accordion-item(data-aos="fade-up" data-aos-once="true" data-aos-delay="250") 
                            h5.accordion-header 
                                button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseA5" aria-expanded="false" aria-controls="collapseA5")
                                    span.d-flex 
                                        span 5.&nbsp;
                                        span Apa saja kriteria untuk mendapatkan beasiswa ini?
                            
                            .accordion-collapse.collapse#collapseA5(data-bs-parent="#accordionTentang")
                                .accordion-body
                                    p
                                        ul 
                                            li Warga Negara Indonesia (WNI).
                                            li Memiliki akun Prakerja.
                                            li Berumur 18-38 tahun.
                                            li Memiliki latar belakang IT atau pernah belajar mengenai IT.



                        .accordion-item(data-aos="fade-up" data-aos-once="true" data-aos-delay="300") 
                            h5.accordion-header 
                                button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseA6" aria-expanded="false" aria-controls="collapseA6")
                                    span.d-flex 
                                        span 6.&nbsp;
                                        span Dimana penerima beasiswa Alibaba x Prakerja akan diumumkan?
                            
                            .accordion-collapse.collapse#collapseA6(data-bs-parent="#accordionTentang")
                                .accordion-body
                                    p   Seluruh peserta akan mendapatkan informasi pengumuman penerima beasiswa melalui email yang sudah didaftarkan di akun Prakerja.

                        .accordion-item(data-aos="fade-up" data-aos-once="true" data-aos-delay="350") 
                            h5.accordion-header 
                                button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseA7" aria-expanded="false" aria-controls="collapseA7")
                                    span.d-flex 
                                        span 7.&nbsp;
                                        span Apakah boleh berpindah modul belajar?
                            
                            .accordion-collapse.collapse#collapseA7(data-bs-parent="#accordionTentang")
                                .accordion-body
                                    p   Tidak ada batasan jumlah pendaftar. Akan tetap ada kuota pelatihan yang diberikan oleh Lembaga Pelatihan. Selama pelatihan yang kamu pilih masih tersedia, kamu masih bisa mengikuti pelatihan di  event Indonesia Skills Week.

                        .accordion-item(data-aos="fade-up" data-aos-once="true" data-aos-delay="350") 
                            h5.accordion-header 
                                button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseA8" aria-expanded="false" aria-controls="collapseA8")
                                    span.d-flex 
                                        span 8.&nbsp;
                                        span Apa saja kanal komunikasi resmi beasiswa ini?
                            
                            .accordion-collapse.collapse#collapseA8(data-bs-parent="#accordionTentang")
                                .accordion-body
                                    p   Program ini akan memberikan informasi melalui:
                                    p
                                        ul 
                                            li 
                                                | Instagram: 
                                                a(href="https://instagram.com/prakerja.go.id/") @Prakerja.go.id
                                            li 
                                                | Discord: 
                                                a(href="#") Alibaba x Prakerja

                        .accordion-item(data-aos="fade-up" data-aos-once="true" data-aos-delay="400") 
                            h5.accordion-header 
                                button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseA9" aria-expanded="false" aria-controls="collapseA9")
                                    span.d-flex 
                                        span 9.&nbsp;
                                        span Bagaimana metode pembelajaran beasiswa Alibaba x Prakerja?
                            
                            .accordion-collapse.collapse#collapseA9(data-bs-parent="#accordionTentang")
                                .accordion-body
                                    p   Metode pembelajaran Beasiswa Sertifikasi Alibaba Cloud Academy by Prakerja sepenuhnya online. Peserta akan mendapatkan training dan modul secara online. Tersedia fasilitator dan forum diskusi via Discord untuk membantu para peserta menyelesaikan semua modul belajar secara online.

                        .accordion-item(data-aos="fade-up" data-aos-once="true" data-aos-delay="450") 
                            h5.accordion-header 
                                button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseA10" aria-expanded="false" aria-controls="collapseA9")
                                    span.d-flex 
                                        span 10.&nbsp;
                                        span Apakah peserta akan mendapatkan sertifikat?
                            
                            .accordion-collapse.collapse#collapseA10(data-bs-parent="#accordionTentang")
                                .accordion-body
                                    p   Ya, peserta akan mendapatkan sertifikat dan juga sertifikasi Cloud Computing atau Big Data bagi peserta yang telah lulus ujian ACA.

                        .accordion-item(data-aos="fade-up" data-aos-once="true" data-aos-delay="500") 
                            h5.accordion-header 
                                button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapseA11" aria-expanded="false" aria-controls="collapseA9")
                                    span.d-flex 
                                        span 11.&nbsp;
                                        span Apa saja fasilitas yang akan didapat peserta beasiswa Alibaba x Prakerja?
                            
                            .accordion-collapse.collapse#collapseA11(data-bs-parent="#accordionTentang")
                                .accordion-body
                                    h6 Online Learning:
                                    p 
                                        ul 
                                            li 200 Kursus e-learning gratis.
                                            li 100+ Clouders (kursus berbayar).
                                            li 11 Kursus persiapan sertifikasi online.
                                            li Sertifikasi.
                                            li Penilaian kompetensi.
                                            li 8 Peran.
                                            li 16 ACA/ACP/ACE.
                                            li 7 Spesialisasi.
                                            li Ujian proktor online.
                                            li Lab online.
                                            li 250+ lab online tersedia.
                                            li 6 Jalur pembelajaran lab.
                                            li Instruksi langkah demi langkah menggunakan produk Alibaba Cloud.

                                    h6 Classroom Training:
                                    p 
                                        ul 
                                            li Pelatihan yang dipimpin instruktur.
                                            li Bootcamps eksklusif dengan pendalaman materi.

