
//-------- Similar Course States ------- //
//--------  Un comment code bellow ------- //

section.section-course
  .container.pt-0.pb-5.px-4.px-md-0
    .d-flex.align-items-center.justify-content-between.mb-3
      h4 Pelatihan Serupa
      a.btn.text-primary.similar-course(href=baseURL+'pelatihan/index.html?topic=&keyword=&price=&lp=' title="lihat semua pelatihan")
        | Lihat Semua 
        i.bi.bi-chevron-right

    #courseCarousel.row
        include ../includes/course_card.pug
